
<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">{{book.name}}</div>
  <div class="card-body">
    <h5 class="card-title">Author: </h5>
    <p class="card-text">{{book.author.firstName}} {{book.author.lastName}}</p>
    <h5 class="card-title">Genre: </h5>
    <p class="card-text">{{book.genre.genre}}</p>
  </div>
</div>

<div class="card" *ngFor="let c of comments">
  <div class="card-header">
     {{c.messageDate | date}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{c.message}}</p>
    </blockquote>
  </div>
</div>

